*{
    margin: 0%;
    padding: 0%;
}
body{
    margin: 0%;
    padding: 0%;
    width: 100%;
}
.box1::before{
    content: "";
    background: url("pizza-329523_1920.jpg") no-repeat center center/cover;
    position: absolute;
    height: 600px;
    width: 100%;
    z-index: -10;
    opacity: 90%;
}
.box1{
    height: 600px;
    width: 100%;
}
.head{
    display: flex;
    position: fixed;
    height: 110px;
    width: 100%;
    border-radius: 0.5rem;
    background-color: rgba(0, 0, 0, 0.515);
}
.logo img{
    height: 80px;
}
.logo{
    color: yellow;
    text-shadow:2px 2px 1px rgb(53, 53, 237);
    text-align: center;
    margin-left: 3%;
}
.navbar{
    display:block;
    position: absolute;
    right: 5%;
    top: 20px;
}
.navbar ul{
    margin-top: 20px;
    display: flex;
    list-style: none;
    justify-items: center;
    align-items: center;
}
.navbar ul li{
    padding-left: 4em;
    padding right:4em;
}
.navbar ul li a{
    text-decoration: none;
    font-size: 27px;
    color: aliceblue;
    font-family: 'Inter', sans-serif;
}
.navbar ul li :hover{
    border:1px solid yellow;
    background-color: rgb(251, 255, 21);
    border-radius: 0.3em;
    box-shadow: 2px 2px 10px lightgreen;
}
.navbar ul li a:hover{
    color: rgb(255, 2, 2);
    font-weight: bold;
}
@media screen and (max-width : 850px) {
    .navbar{
        position:fixed;
        margin-left: 40%;
    }
    .navbar ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10%;
    }
    .head{
        height :200px;
    }
    .navbar ul li{
        margin-top: 10px;
    }
    .navbar ul li a{
        font-size: 18px;
    }
    .logo{
        margin-top: 40px;
    }
    .box1{
        width: 100%;
    }
    .head{
        width: 100%;
    }
}
.intro{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 280px;
    justify-content: center;
}
.hngry{
    margin-top: 1.3em;
    display: flex;
    justify-content: center;
    font-size: 4.5em;
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 4px  white;
}
.soln{
    font-size: 220%;
    display: flex;
    margin-top:1em;
    justify-content: center;
    font-family: cursive;
    text-shadow: 2px 2px 4px  white;
    padding: 0em 1em;
}
@media screen and (max-width : 850px) {
    .hngry{
        font-size: 3em;
    }
    .soln{
        font-size: 180%;
    }
}
.box2{
    height: 68vh;
    width: 100%;
    background-color: azure;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.srvc{
    display: block;
    clear: both;
    font-size: 2em;
    margin-top: 1em;
    text-shadow:2px 2px 4px  white ;
    font-family:'Inter', sans-serif ;
    font-weight: bolder;
}
.b2{
    display: flex;
    width: 100%;
    height: 55vh;
    flex-direction: row;
    margin: 2em ;
    justify-content:space-around;
}
.ib2{
    border: 0.3em solid sandybrown;
    box-shadow: 2px 2px 16px rgb(255, 255, 98) ;
    border-radius: 10%;
    height: 18em;
    width: 18em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ib2 img{
    height: 7.5em;
    width: 7.5em;
    margin-top: 1.5em;
}
@media screen and (max-width : 850px) {
    .b2{
        display: flex;
        flex-direction: column;
        margin-top: 3em;
        align-items: center;
    }
    .box2{
        height: 85vh;
    }
    .ib2{
        height: 9em;
        margin-top: 2em;
    }
    .ib2 img{
        height: 3.7em;
        width: 3.7em;
        margin-top: 0.7em;
    }
}
.itxt{
    margin-top: 0.7em;
    font-size: 1.3em;
}
.itt{
    align-items: center;
    margin: 1em 1em;
    font-size: 1.4%;
    font-family: cursive;
}
.clints{
    display: flex;
    flex-direction: column;
    height: 30vh;
    width: 100%;
}
.clints::before{
    content: "";
    background: url("it.png") no-repeat center center/cover;
    position: absolute;
    height: 30vh;
    width: 100%;
    z-index: -1;
    opacity: 70%;
}
.tt{
    display: block;
    text-align: center;
    margin-top: 1em;
    font-size: 2em;
}
.ic1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly ;
}
.lgo a img{
    height: 8rem;
    width: 8rem;
    margin-top: 0em;
}
.form{
    display: flex;
    flex-direction: row;
    align-items: center;
}
h2{
    display: block;
    text-align: center;
    font-size: 2em;
    margin-top: 1.3em;
    margin-bottom: 1em;
}
.cont{
    margin-top: 15rem;
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
    height:60vh;
}
.cont::before{
    content: "";
    background: url("contact-us-2993109_1920.jpg") no-repeat center center/cover;
    position: absolute;
    width: 70%;
    margin: auto;
    height:60vh;
    opacity: 40%;
    z-index: -1;
    margin-top: 3rem;
}
.qn{
    font-size: 2em;
}
.qn1{
    margin: 1rem 2em;
}
.ans input{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 192%;
    margin: 1rem 2em;
    font-size: 1.3em;
    padding: 0.4em 0.4em;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.sbmt{
    width:7%;
    height: 4vh;
    margin: auto;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}
@media screen and (max-width : 850px) {
    .ans input{
        width:100%;
    }
    .qn{
        font-size: 1.5em;
        width:40%;
    }
    .lgo a img{
        height: 5rem;
        width: 5rem;
        margin-top: 0em;
    }
    .sbmt{
        width:19%;
    }
}
